{% extends 'store/layouts/main.html' %} {% block content %}



<div class="py-3 bg-primary">
    <div class="container">
      <a class="text-white" href="{% url 'home' %}">Home /</a>
      <a class="text-white" href="{% url 'myorders' %}">My orders /</a>
    </div>
  </div>


  <div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Orders View
                        <a href="{% url 'myorders' %}" class="btn btn-warning float-end text-white"><i class="fa fa-reply"></i>Back</a>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Shipping Details</h4>
                            <hr>
                            <label class="mt-2" for="">First Name</label>
                            <div class="border p-1">{{ order.fname }}</div>
                        
                            <label class="mt-2" for="">Last Name</label>
                            <div class="border p-1">{{ order.lname }}</div>
                        
                            <label class="mt-2" for="">Email</label>
                            <div class="border p-1">{{ order.email }}</div>
                        
                            <label class="mt-2" for="">Contact No</label>
                            <div class="border p-1">{{ order.phone }}</div>
                            
                            <label class="mt-2" for="">Address</label>
                            <div class="border p-1">
                                {{ order.address }}
                                {{ order.city }}
                                {{ order.state }}
                                {{ order.statecountry }}
                            </div>
                            
                            <label class="mt-2" for="">Zip Code</label>
                            <div class="border p-1">{{ order.pincode }}</div>
                        </div>
                        <div class="col-md-6">
                            <h4>Order Details</h4>
                            <hr>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in orderitems %}
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>
                                                <img height="50px;" width="50px;" src="{{ item.product.product_image.url }}" alt="image product">
                                                
                                            </td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                            <h4 class="border p-2" >Grand Total : <span class="float-end">{{ order.total_price }}</span> </h4>
                            <h6 class="border p-2" >Payment Status : {{ order.payment_mode }} </h6>
                            <h6 class="border p-2" >Tracking No : {{ order.traking_no }} </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>










{% endblock content %}