
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
        
    </title>
<!-- alertify js  -->

    
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">   
    <style>
        a{
            text-decoration: none;
        }
        .product-viewtag{
            background-color: rgb(227, 1, 1);
            color: aliceblue;
            font-size: 11px;
            line-height: 1;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 22px;
            margin-left: 17.5rem;
            padding: 7px 10px;
            font-weight: 600;
            min-width: 45px;
        }
        .active{
            font-weight: 900;
        }
    </style>

    <meta name="referrer" content="no-referrer-when--downgrade">
</head>
<body>
    {% include 'store/inc/navbar.html' %}
    {% block content %}
        
    {% endblock content %}
    <!-- whatapp api  -->
    <a target="_blank" href="https://wa.me/+9779814327222?text=please%contact%20me%20for%20any%20information"  class="whatappchatapp">
        <img src="/static/images/whatapp.png" width="70px;" alt="no image found">
    </a>

    <!-- twak.tio api  -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/636f73b2b0d6371309cea665/1ghllnt7q';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    <script src="{% static '/js/jquery-3.6.1.min.js' %}" ></script>
    <script src="{% static '/js/custom.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- alertifyjs/ -->
    

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>

        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}

            alertify.success('{{ msg }}');
        {% endfor %}
    </script>

    <script>
        var availableTags = [];
        $.ajax({
            method: "GET",
            url: "/product-list",
            success: function (response){
                startAutocomplete(response)
            }
        });
        function startAutocomplete(availableTags)
        {
            $( "#searchproduct" ).autocomplete({
              source: availableTags
            });
        }


    </script>

    {% block scripts %}
        
    {% endblock scripts %}

</body>
</html>