{% extends 'store/layouts/main.html' %}
{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a class="text-white" href="{% url 'collections' %}">Collections</a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Collections</h1>
            <hr>
            <div class="row">
                {% for item in category %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'collectionsviews' item.slug %}">
                    <div class="card-body">
                        <div class="category-image">
                            <img src="{{ item.image.url }}" alt="images" class="w-100" >
                        </div>
                        <h4 class="text-center"> {{ item.name }}</h4>
                    </div>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

{% endblock content %}