.checkoutform label{
    font-size: 14px !important;
    font-weight: 600;
}

.checkoutform input{
    font-size: 16px !important;
    
}

.whatappchatapp{
    position: fixed;
    bottom: 01% !important;
    left: 03% !important;
}

.search-bar{
    width: 40% !important;
    margin-left: 10%;
}